In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
total_players = purchase_data_df["SN"].nunique()
print(f"Number of Total Players = {total_players}")

Number of Total Players = 576

In [3]:
unique_items = purchase_data_df["Item ID"].nunique()
print(f"Number of Unique Items = {unique_items}")

Number of Unique Items = 179

In [4]:
average_price = purchase_data_df["Price"].mean()
print(f"Average Price = {average_price}")

Average Price = 3.050987179487176

In [5]:
number_of_purchases = purchase_data_df["Purchase ID"].nunique()

In [6]:
total_revenue = purchase_data_df["Price"].sum()

In [7]:
# total_players = purchase_data_df["SN"].nunique()
# unique_items = purchase_data_df["Item ID"].nunique()
# average_price = purchase_data_df["Price"].mean()
# number_of_purchases = purchase_data_df["Purchase ID"].nunique()
# total_revenue = purchase_data_df["Price"].sum()
summary_table = {"Total Players": [total_players], 
                 "Unique Items": [unique_items],
                 "Average Price": [f"${round(average_price, 2)}"],
                 "Number of Purchases": [number_of_purchases],
                 "Total Revenue": [f"${float(total_revenue)}"]}
summary_table_df = pd.DataFrame(summary_table)
summary_table_df

,Total Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,$2379.77

In [9]:
# Create GroupBy dataframe based on Age Group
gender_group_df = purchase_data_df.groupby("Gender")
# Find how numbers for Age Group
total_count = gender_group_df['SN'].nunique()
# Determine age percentages
gender_percentage = (total_count/total_players) * 100
# Create new Age Demographics dataframe
gender_demographics_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": round(gender_percentage,2)})
gender_demographics_df

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [10]:
# Create Groupby for Gender
gender_group_df = purchase_data_df.groupby('Gender')
# Determine Purchase Count
purchase_count = gender_group_df['Price'].count()
# Determine Average Purchase Price
avg_purchase_price = gender_group_df['Price'].sum()/gender_group_df['Price'].count()
# Determine Total Purchase Value
total_purchase_value = gender_group_df['Price'].sum()
# Determine Average Purchase Per Person
avg_purchase_per_person = gender_group_df['Price'].sum()/gender_group_df['SN'].nunique()
# Create Purchase Analysis by Gender Dataframe
purchase_analysis_gender_df = pd.DataFrame({"Purchase Count": purchase_count, 'Average Purchase Price': round(avg_purchase_price,2), 'Total Purchase Value': total_purchase_value, "Avg Total Purchase per Person": round(avg_purchase_per_person,2)})
purchase_analysis_gender_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [11]:
# Create bins for values
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
# Create labels for the bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice data and place into bins
pd.cut(purchase_data_df["Age"], bins, labels= group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [12]:
# Place data series into a new column
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels= group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [13]:
# Create GroupBy dataframe based on Age Group
age_group_df = purchase_data_df.groupby("Age Group")
# Find how numbers for Age Group
total_count = age_group_df['SN'].nunique()
# Determine age percentages
age_percentage = (total_count/total_players) * 100
# Create new Age Demographics dataframe
age_demographics_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": round(age_percentage,2)})
age_demographics_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

In [18]:
# Determine Purchase Count
purchase_count = age_group_df['Price'].count()
# Determine Average Purchase Price
avg_purchase_price = age_group_df['Price'].sum()/age_group_df['Price'].count()
# Determine Total Purchase Value
total_purchase_value = age_group_df['Price'].sum()
# Determine Average Purchase Per Person
avg_purchase_per_person = age_group_df['Price'].sum()/age_group_df['SN'].nunique()
# Create Purchase Analysis by Age DataFrame
purchase_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count, 'Average Purchase Price': round(avg_purchase_price,2), 'Total Purchase Value': total_purchase_value, "Avg Total Purchase per Person": round(avg_purchase_per_person,2)})
purchase_analysis_age_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81

In [15]:
# Groupby SN
sn_group_df = purchase_data_df.groupby("SN")
# Determine Purchase Count
purchase_count = sn_group_df['Price'].count()
# Determine Average Purchase Price
avg_purchase_price = sn_group_df['Price'].sum()/sn_group_df['Price'].count()
# Determine Total Purchase Value
total_purchase_value = sn_group_df['Price'].sum()
# Create Top Spenders DataFrame
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count, 'Average Purchase Price': round(avg_purchase_price,2), 'Total Purchase Value': total_purchase_value})
# Sort by Total Purchase Value descending
top_spenders_df = top_spenders_df.sort_values(by='Total Purchase Value', ascending=False)
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [16]:
# Groupby Item ID and Item Name
id_idname_group_df = purchase_data_df.groupby(['Item ID', 'Item Name'])
# Determine Purchase Count
purchase_count = id_idname_group_df['Price'].count()
# Determine Item Price
item_price = id_idname_group_df['Price'].sum()/id_idname_group_df['Price'].count()
# Determine Total Purchase Value
total_purchase_value = id_idname_group_df['Price'].sum()
# Create Most Popular Items DataFrame
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count, 'Item Price': item_price, 'Total Purchase Value': total_purchase_value})
# Sort by Purchase Count descending
most_popular_items_df = most_popular_items_df.sort_values(by="Purchase Count", ascending=False)
# most_popular_items_df = most_popular_items_df.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [17]:
# Groupby Item ID and Item Name
id_idname_group_df = purchase_data_df.groupby(['Item ID', 'Item Name'])
# Determine Purchase Count
purchase_count = id_idname_group_df['Price'].count()
# Determine Item Price
item_price = id_idname_group_df['Price'].sum()/id_idname_group_df['Price'].count()
# Determine Total Purchase Value
total_purchase_value = id_idname_group_df['Price'].sum()
# Create Most Popular Items DataFrame
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count, 'Item Price': item_price, 'Total Purchase Value': total_purchase_value})
# Sort by Total Purchase Value descending
most_popular_items_df = most_popular_items_df.sort_values(by="Total Purchase Value", ascending=False)
# most_popular_items_df = most_popular_items_df.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80