In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
total_players = purchase_data_df["SN"].nunique()
print(f"Number of Total Players = {total_players}")

Number of Total Players = 576

In [20]:
unique_items = purchase_data_df["Item ID"].nunique()
print(f"Number of Unique Items = {unique_items}")

Number of Unique Items = 179

In [21]:
average_price = purchase_data_df["Price"].mean()
print(f"Average Price = {average_price}")

Average Price = 3.050987179487176

In [22]:
number_of_purchases = purchase_data_df["Purchase ID"].nunique()

In [23]:
total_revenue = purchase_data_df["Price"].sum()

In [24]:
# total_players = purchase_data_df["SN"].nunique()
# unique_items = purchase_data_df["Item ID"].nunique()
# average_price = purchase_data_df["Price"].mean()
# number_of_purchases = purchase_data_df["Purchase ID"].nunique()
# total_revenue = purchase_data_df["Price"].sum()
summary_table = {"Total Players": [total_players], 
                 "Unique Items": [unique_items],
                 "Average Price": [f"${round(average_price, 2)}"],
                 "Number of Purchases": [number_of_purchases],
                 "Total Revenue": [f"${float(total_revenue)}"]}
summary_table_df = pd.DataFrame(summary_table)
summary_table_df

,Total Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,$2379.77

In [32]:
# Determining total number of male players
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_players = male_df["SN"].nunique()

# Determining percentage of male players
total_players = purchase_data_df["SN"].nunique()
percent_male = (male_players / total_players) * 100
round(percent_male, 2)

84.03

In [34]:
# Determining total number of female players
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
female_players = female_df["SN"].nunique()

# Determining percentage of female players
total_players = purchase_data_df["SN"].nunique()
percent_female = (female_players / total_players) * 100
round(percent_female, 2)

14.06

In [35]:
# Determine Count of Other / Non-Disclosed
other_players = total_players - (female_players + male_players)
other_players

# Determine percentage of Other / Non-Disclosed
percent_other = (other_players / total_players * 100)
round(percent_other, 2)

1.91

In [53]:
# # Add summary data frame
# gender_summary_table = {"Total Count": "Row_1", [male_players]
#                        "Percentage of Players", [percent_male]} 
# #                  "Unique Items": [unique_items],
# #                  "Average Price": [f"${round(average_price, 2)}"],
# #                  "Number of Purchases": [number_of_purchases],
# #                  "Total Revenue": [f"${float(total_revenue)}"]}
# gender_summary_table_df = pd.DataFrame(gender_summary_table)
# gender_summary_table_df.index = ["Male", "Female", "Other / Non-Disclosed"]
# gender_summary_table_df

In [58]:
male_sales = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_sales = len(male_sales)
male_sales

652