In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
total_players = purchase_data_df["SN"].nunique()
print(f"Number of Total Players = {total_players}")

Number of Total Players = 576

In [20]:
unique_items = purchase_data_df["Item ID"].nunique()
print(f"Number of Unique Items = {unique_items}")

Number of Unique Items = 179

In [21]:
average_price = purchase_data_df["Price"].mean()
print(f"Average Price = {average_price}")

Average Price = 3.050987179487176

In [22]:
number_of_purchases = purchase_data_df["Purchase ID"].nunique()

In [23]:
total_revenue = purchase_data_df["Price"].sum()

In [24]:
# total_players = purchase_data_df["SN"].nunique()
# unique_items = purchase_data_df["Item ID"].nunique()
# average_price = purchase_data_df["Price"].mean()
# number_of_purchases = purchase_data_df["Purchase ID"].nunique()
# total_revenue = purchase_data_df["Price"].sum()
summary_table = {"Total Players": [total_players], 
                 "Unique Items": [unique_items],
                 "Average Price": [f"${round(average_price, 2)}"],
                 "Number of Purchases": [number_of_purchases],
                 "Total Revenue": [f"${float(total_revenue)}"]}
summary_table_df = pd.DataFrame(summary_table)
summary_table_df

,Total Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,$2379.77

In [32]:
# Determining total number of male players
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_players = male_df["SN"].nunique()

# Determining percentage of male players
total_players = purchase_data_df["SN"].nunique()
percent_male = (male_players / total_players) * 100
round(percent_male, 2)

84.03

In [34]:
# Determining total number of female players
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
female_players = female_df["SN"].nunique()

# Determining percentage of female players
total_players = purchase_data_df["SN"].nunique()
percent_female = (female_players / total_players) * 100
round(percent_female, 2)

14.06

In [35]:
# Determine Count of Other / Non-Disclosed
other_players = total_players - (female_players + male_players)
other_players

# Determine percentage of Other / Non-Disclosed
percent_other = (other_players / total_players * 100)
round(percent_other, 2)

1.91

In [53]:
# # Add summary data frame
# gender_summary_table = {"Total Count": "Row_1", [male_players]
#                        "Percentage of Players", [percent_male]} 
# #                  "Unique Items": [unique_items],
# #                  "Average Price": [f"${round(average_price, 2)}"],
# #                  "Number of Purchases": [number_of_purchases],
# #                  "Total Revenue": [f"${float(total_revenue)}"]}
# gender_summary_table_df = pd.DataFrame(gender_summary_table)
# gender_summary_table_df.index = ["Male", "Female", "Other / Non-Disclosed"]
# gender_summary_table_df

In [58]:
male_sales = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_sales = len(male_sales)
male_sales

652

In [59]:
female_sales = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
female_sales = len(female_sales)
female_sales

113

In [60]:
other_sales = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
other_sales = len(other_sales)
other_sales

15

In [85]:
male_avg_price_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", ["Price"]]
print(round(male_avg_price_df.mean(),2))
print(round(male_avg_price_df.sum(),2))

Price    3.02
dtype: float64
Price    1967.64
dtype: float64

In [86]:
female_avg_price_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", ["Price"]]
print(round(female_avg_price_df.mean(),2))
print(round(female_avg_price_df.sum(),2))

Price    3.2
dtype: float64
Price    361.94
dtype: float64

In [90]:
other_avg_price_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", ["Price"]]
print(round(other_avg_price_df.mean(),2))
print(round(other_avg_price_df.sum(),2))
other_average_purchase = other_avg_price_df.mean() / other_avg_price_df.sum() 
other_average_purchase

Price    3.35
dtype: float64
Price    50.19
dtype: float64

Price    0.066667
dtype: float64

In [92]:
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

45
7

In [113]:
# Create bins for values
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
# Create labels for the bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice data and place into bins
pd.cut(purchase_data_df["Age"], bins, labels= group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [123]:
# Place data series into a new column
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels= group_labels)
purchase_data_df["Age"].head()

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

In [129]:
# Create GroupBy object based on Age Group
age_group = purchase_data_df.groupby("Age Group")

# Find how numbers for Age Group
print(age_group["Age"].value_counts())

Age Group  Age
<10        7       9
           8       8
           9       6
10-14      10      9
           11      7
           12      6
           13      4
           14      2
15-19      15     35
           16     30
           18     26
           19     23
           17     22
20-24      20     99
           22     70
           23     67
           24     67
           21     62
25-29      25     59
           26     14
           29     13
           27     10
           28      5
30-34      30     35
           33     14
           34      9
           32      8
           31      7
35-39      35     14
           38      9
           37      7
           39      6
           36      5
40+        40      6
           41      2
           44      2
           42      1
           43      1
           45      1
Name: Age, dtype: int64

In [119]:
age_group[["Age", "SN"]].mean()

                 Age
Age Group
<10         7.869565
10-14      11.392857
15-19      16.794118
20-24      21.838356
25-29      26.000000
30-34      31.383562
35-39      36.707317
40+        41.538462